<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">

<parameter name="promocode" value="rahulshettyacademy"/>

<listeners>
<listener class-name="seleniumFramework.Listeners"/>
</listeners>

  <test name="Test">
    <classes>
      <class name="seleniumFramework.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
