<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="OnlineSites">
<listeners>
<listener class-name="seleniumFramework.Listeners"/>
</listeners>

  <test name="VegetableShopping">
  <parameter name="promocode" value="rahulshettyacademy"/>
  
    <classes>
      <class name="seleniumFramework.VegEcomHomePageTest"/>
    </classes>
  </test>
</suite>
